version: '3.9'
services:
      db:
         image: mysql:latest
         container_name: mysql
         command: --default-authentication-plugin=mysql_native_password
         environment:
            MYSQL_USER: 'db_user'
            MYSQL_PASSWORD_FILE: /home/docker-mysql-backups/my_secret_file
            MYSQL_DB: 'my_db'
         secrets:
         - my_secret_file
         ports:
         - 8080:8080
secrets:
   my_secret_file:
      external: true